* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #04143d;
}

header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #dbdbf5;
}

main {
  background-color: #f0f8ff;
  width: 60%;
  height: 60%;
  display: inline-block;  
  margin-left: 20%;
  margin-right: 20%;
  border: 0px solid #f0f8ff;
  border-radius: 20px;
  padding: 20px;
}

#funcionamento {
  font-size: 20px;
  color: #02335e;
}

label {
  font-size: 18px;    
}

#texto-tarefa {
  width: 23%;
  margin-top: 0px;
}

#criar-tarefa {
  background-color: #136b07;
  color: #f0f8ff;
  border: 1px solid #136b07;
  border-radius: 5px;
  font-size: 16px;
}

#lista-container {
  margin: 5px;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}